$theme-colors: (
  default: (
    primary: #160019,
    secondary: #ff0a78,
    shadow: #7a1fff,
    white: #f7efff,
  ),

  contrasted: (
    primary: #160019,
    secondary: #ff0a78,
    shadow: #7a1fff,
    white: #f7efff,
  ),
);
